header {
  z-index: 100;
  position: relative;

  .brand {
    height: 3rem;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    align-items: center;

    form {
      display: block;
      margin: 0 auto;
      width: 85%;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 2rem;
      label {
        display: flex;
        align-items: center;
        padding: 0.25rem 0.5rem;

        .input {
          flex-grow: 1;

          input {
            width: 100%;
            border: none;
            outline: none;
            background-color: rgba(0, 0, 0, 0);
          }
        }
      }
    }
  }

  .nav-links {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    height: 3rem;
    background: #fff;

    .profile {
      padding: 0 1rem;
      display: flex;
      align-items: center;
      height: 100%;
      cursor: pointer;

      .menu {
        position: absolute;
        top: 0;
        transition: 0.5s ease;
        opacity: 0;
        font-weight: bold;
        color: red;
        text-decoration: none;
        pointer-events: none;
        width: 9.5rem;
        transform: translateX(-55%);
        background-color: #fff;
        border: 2px solid rgba(0, 0, 0, 0.5);
        padding: 0.25rem 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        pointer-events: none;

        .view-profile a {
          color: #076ae0;
        }

        .logout a {
          color: red;
        }

        a {
          padding: 0.5rem 0;
          text-decoration: none;
        }
      }

      &.active .menu {
        opacity: 1;
        pointer-events: all;
        transform: translate(-55%, -100%);
      }
    }

    & > div {
      height: 100%;

      a,
      .post-publication {
        padding: 0 1rem;
        display: flex;
        align-items: center;
        height: 100%;
        cursor: pointer;
      }
    }
  }
}

.form {
  position: fixed;
  top: 49px;
  left: 0;
  right: 0;
  z-index: 99;

  & > div {
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem 2rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);

    .check {
      background-color: #fff;
      border: 2px solid #076ae0;
      border-radius: 0.25rem;
      font-weight: bold;
      color: #076ae0;
      margin-left: 0.25rem;
      display: inline-block;
      flex-basis: auto;
    }

    .submit {
      display: flex;
      justify-content: flex-end;

      input,
      button {
        border: none;
        font-size: 1.25rem;
        font-weight: bold;
        padding: 0.45rem 0.65rem;
        border-radius: 0.25rem;
      }

      input {
        background: #076ae0;
        color: #fff;
      }

      button {
        background: #fff;
        border: 1px solid red;
        color: red;
        margin-right: 0.5rem;
        cursor: pointer;
      }
    }

    .url {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      div {
        flex-basis: 100%;
      }

      input {
        flex-grow: 1;
        width: auto;
      }
    }

    label {
      display: block;

      input,
      textarea {
        display: block;
        width: 100%;
      }

      textarea {
        resize: none;
      }
    }
  }
}

@media (min-width: 700px) {
  header {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);

    nav {
      padding: 0 1.25rem;
      margin: 0 auto;
      max-width: 50rem;
      display: flex;
      justify-content: space-between;

      .brand {
        border-bottom: 0px solid rgba(0, 0, 0, 0);
        form {
          width: auto;
        }
      }
    }
    .nav-links {
      position: static;
      border: none;

      .profile.active .menu {
        transform: translate(-55%, 67%);
      }

      .profile .menu {
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-top: 0;
      }
    }
  }
}
